/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #fff;
	background-color: #17172a;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin: 0 auto;
	width: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	align-items: center;
}

h2 {
	color: #FEFFFF;
}

code {
	display: block;
	width: 100%;
  font-family: monospace;
  padding: 8px;
  color: #DEF2F1;
  background-color: #2B7A78;
  border-radius: 4px;
}

a {
	color: #DEF2F1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
section{
	margin:10px;
}


