/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #0a0a0a;
	text-align: center;
	line-height: 1.4em;
	background-image: url("https://cdn.pixabay.com/photo/2022/03/02/09/17/wallpaper-7042708_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color: #a9a58a;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: #fff;
  background-color: #353535;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
	color: #301872;
}
